service cloud.firestore {
  match /databases/{database}/documents {
    match /rsvp/{respondent} {
      allow read: if true;
      allow write: if true;
    }
    match /security-question/{security} {
      allow read: if true;
      allow write: if false;
    }
  }
}
